@import "mixins";
@import "common/buttons";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-color: white;
  box-sizing: border-box;
  font-display: swap;
  font-family: "Open Sans", sans-serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $defaultFont;
  font-size: 1.6rem;
}

a {
  transition: 0.1s linear;

  &:hover {
    color: $primary;
  }
}

p {
  margin: 2rem 0;
  line-height: 1.4em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,
h2 {
  margin-bottom: 4rem;
  max-width: 100%;
  line-height: 1.1em;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
  }
}

.full-sized {
  width: 100%;
}
